<style>
  .nav-link.active {
    color: rgb(13,110,253) !important
  }
</style>
<div class="bg-dark bg-opacity-75 py-1">
    <div class="container d-flex justify-content-between">
      {% if(is_granted('IS_AUTHENTICATED_FULLY')) %}
        <span class="text-warning">@{{ app.user.username }}</span>
        <a href="{{ path('app_logout') }}" class="mx-2 text-white  text-decoration-none">Logout</a>
      {% else %}
        <a href="{{ path('app_login') }}" class="mx-2 text-white  text-decoration-none">Login</a>
      {% endif %}
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand text-primary" href="{{ path('home') }}">Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{ title == 'home' ? 'active' }}" aria-current="page" href="{{ path('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ title == 'post' ? 'active' }}" href="{{ path('post.index') }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ title == 'about' ? 'active' }}" href="{{ path('about') }}">About</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-primary btn-sm rounded-pill" href="{{ path('post.create') }}">Create Post</a>
        </li>
      </ul>
    </div>
  </div>
</nav>